*.ejs linguist-language=Javascript
*.css linguist-language=Javascript
*.min.css linguist-language=Javascript
*.map linguist-language=Javascript
*.css.map linguist-language=Javascript
*.min.css.map linguist-language=Javascript