*.ejs linguist-language=JavaScript
*.css linguist-language=JavaScript
*.min.css linguist-language=JavaScript
*.map linguist-language=JavaScript
*.css.map linguist-language=JavaScript
*.min.css.map linguist-language=JavaScript