<div class="limiter">
  <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
    <form class="login100-form validate-form flex-sb flex-w" action="/localoauth/logout" method="GET">
      <div class="container-login100-form-btn m-t-17">
        <button class="login100-form-btn col-sm-1">
          Sign Out
        </button>
      </div>
    </form>
    <div class="p-l-110 p-r-110 p-t-62 p-b-33">
      <span class="login100-form-title p-b-53">
        <b style="color: white;">Welcome to Planet MARS</b>
      </span>
      <img src="/images/icons/happy-music.svg" alt="happy-music">

    </div>
  </div>
</div>